@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-scroll-left {
    animation: scroll-left 30s linear infinite;
  }
  
  .animate-scroll-right {
    animation: scroll-right 35s linear infinite;
  }
  
  .pause-animation:hover {
    animation-play-state: paused;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-33.333%);
  }
  100% {
    transform: translateX(0);
  }
}