@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-scroll-left-to-right {
    animation: scrollLeftToRight 40s linear infinite;
  }
  
  .animate-scroll-right-to-left {
    animation: scrollRightToLeft 45s linear infinite;
  }
  
  .animate-scroll-left-to-right:hover,
  .animate-scroll-right-to-left:hover {
    animation-play-state: paused;
  }
}

@keyframes scrollLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes scrollRightToLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}